.App {
  text-align: center;
}

.Applogo {
  background-color: #3269d8;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

label {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-top: 10px;
}
